<form class="yokai-hunters-society sheet item sheet-form" autocomplete="off">
    <div class="main-contento">
        <div class="flex flex-col p-6 space-y-6">
           <div class="item-header-grid-with-image">
                <div class="item-image-container">
                    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" alt="Imagen del objeto"/>
                </div>
                <div class="section-panel-default item-name-panel">
                    <label for="itemName" class="label-text">{{localize "YOKAIHUNTERSSOCIETY.ItemName"}}</label>
                    <input type="text" name="name" value="{{item.name}}" placeholder="{{localize 'YOKAIHUNTERSSOCIETY.ItemName'}}" class="input-field">
                </div>
            </div>
            <div class="section-panel-default">
                <label for="itemDescription" class="label-text">{{localize "YOKAIHUNTERSSOCIETY.Description"}}</label>
                <textarea name="system.description" rows="5" class="input-field textarea-field" placeholder="{{localize 'YOKAIHUNTERSSOCIETY.Description'}}">{{system.description}}</textarea>
            </div>
            {{#if showBonusField}}
            <div class="section-panel-default">
                <label for="itemBonus" class="label-text">{{localize "YOKAIHUNTERSSOCIETY.ItemBonus"}}</label>
                <input type="number" name="system.bonus" value="{{system.bonus}}" min="-10" max="10" placeholder="0" class="input-field">
            </div>
            {{/if}}
        </div>
    </div>    
</form>
